{% extends "bootstrap/base.html" %}

{% block title %}Mironov Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Mironov Blog</a>
        </div>
        <div class="navbar-collapse collapse">
            {% block navbar_select %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container main-container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
    {% block page_content %}{% endblock %}
        </div>
        <div class="col-md-4 col-xs-12 widget">
            <!--<div class="affix">-->
            <!-- Subscribe to my feed widget -->
            {% if current_user.is_anonymous %}
            <div class="well text-center">
                <p class="lead">
                    Don't want to miss updates? Please click the button below!
                </p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg" role="button">Join us!</a>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                  <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Tags: </h4>
                  {% if current_user.is_administrator() %}
                      <a class="btn btn-success pull-right" href="{{ url_for('main.tag_add')}}">Add tag...</a>
                  {% endif %}
                </div>
                <ul class="list-group">
                    {% for tag in Tag.ordered_list()[:4] %}
                    <li class="list-group-item"><a href="{{ url_for('main.tag_search', id=tag[2])}}" class="test-right">{{tag[0]}}</a> :  <span class="badge pull-right" style="background-color:#337ab7;">{{tag[1]}}</span></li>
                    {% endfor %}
                </ul>
                <div class="panel-footer clearfix">
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">View all {{Tag.query.count()}} tags...</button>
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Tags available:</h4>
                  </div>
                  <div class="modal-body">
                      <ul class="list-group">
                          {% for tag in Tag.ordered_list() %}
                          <li class="list-group-item"><a href="{{ url_for('main.tag_search', id=tag[2])}}" class="test-right">{{tag[0]}}</a> : <span class="badge pull-right" style="background-color:#337ab7;">{{tag[1]}}</span></li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Recent Comments</h4>
                </div>
                <ul class="list-group">
                    {% for comment in Comment.query.order_by(Comment.timestamp.desc()).limit(4)%}
                    <li class="list-group-item"><a href="{{ url_for('main.post', id=comment.post.id) }}">{% if comment.body_html |length > 20%}
                        {{ comment.body_html[:20] }}...
                        {% else %}{{comment.body_html}}{%endif%}</a> - <a href="{{ url_for('main.user', username=comment.author.username) }}"><em>{{comment.author.username}}</em></a></li>
                    {% endfor %}
                </ul>
            </div>
        <!--</div>-->
        </div>
    </div>
<footer>
    <hr/>
    <div class="container">
        <p class="text-center">Copyright © Yuriy Mironov 2016. All rights reserved.</p>
    </div>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
