{% extends "base.html" %}

{% block title %}My Blog - {{ user.username }}{% endblock %}

{% block navbar_select %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('main.about') }}">About</a></li>
    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
    {% if current_user.is_authenticated %}
    <li class="active"><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        <div class="content">
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        </div>
        <div class="content">
            {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}<br>{% endif %}
                {% if user.location %}
                    From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
                {% endif %}
            </p>
            {% endif %}
            {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile</a>
            {% endif %}
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            <a class="btn btn-default" href="{{ url_for('auth.change_email_request') }}">Change Email</a>
            <a class="btn btn-default" href="{{ url_for('auth.change_password') }}">Change Password</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
