{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Mironov Blog - Tag {{tag.name}}{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Entries posted at tag "{{tag.name}}"</h1>
</div>
<div class="post-tabs">
    <br>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
